# local .terraform dir
.terraform/*

# tf state files
*.tfstate
*.tfstate.*

# tf variables file, may include sensitive data
#*.tfvars

#Ignore CLI config files
.terraformrc
terraform.rc

#ignore folder (MAC/OSX) metadata
.DS_Store

#ignore crash
crash.log



